<html>
<head>
<title> Authentication for Editing </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
{% load bootstrap_toolkit %}
<div class="page-header"><h1> Note Edit Authorization </h1>
<div class = "hero-unit">
	<form action="" method="post">{% csrf_token %}
			{{ form|as_bootstrap }}
	<button class="btn btn-primary"type="submit">Submit</button>
	</form>
</div>
</div>
</body>

</html>
