<!DOCTYPE HTML>
<html>
<head>

<title>Deathnote app</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="page-header"> 
	<h2>Registration</h2>
</div>
{% load bootstrap_toolkit %}
<div class="hero-unit">
	<form action="" method="post">{% csrf_token %}
		<table>
			{{ specialmsg }}
			{{ form|as_bootstrap }}
		</table>
		<button class="btn btn-primary" type="submit">Sign Note</button>
	</form>
</div>
</body>

</html>
